<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <title>HoangHa Mobile</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/assets/Client/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="/assets/Client/css/main.css">
    <link rel="stylesheet" href="/assets/Client/css/dark-green.css">
    <link rel="stylesheet" href="/assets/Client/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/Client/css/owl.transitions.css">
    <link rel="stylesheet" href="/assets/Client/css/animate.min.css">

    <!-- Demo Purpose Only. Should be removed in production -->
    <link rel="stylesheet" href="/assets/Client/css/config.css">

    <link href="/assets/Client/css/dark-green.css" rel="alternate stylesheet" title="Darkgreen color">
    <!-- Demo Purpose Only. Should be removed in production : END -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="/assets/Client/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/Client/images/icons8.png">
</head>
<body>

    <div class="wrapper">
        <!-- ============================================================= TOP NAVIGATION ============================================================= -->
        @{Html.RenderAction("TopMenu", "Home");}<!-- /.top-bar -->
        <!-- ============================================================= TOP NAVIGATION : END ============================================================= -->       <!-- ============================================================= HEADER ============================================================= -->
        <header class="no-padding-bottom header-alt">
            <div class="container no-padding">

                <div class="col-xs-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo">
                        <a href="/" rel="nofollow">
                            <img alt="logo" src="/assets/Client/images/logo-text.png" width="233" height="54" />
                            <!--<object id="sp" type="image/svg+xml" data="assets/images/logo.svg" width="233" height="54"></object>-->
                        </a>
                    </div><!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= -->
                </div><!-- /.logo-holder -->

                <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder no-margin">
                    <div class="contact-row">
                        <div class="phone inline">
                            <i class="fa fa-phone"></i> 19002091
                        </div>
                        <div class="contact inline">
                            <i class="fa fa-envelope"></i><span class="le-color">contact@hoanghamobile.com</span>
                        </div>
                    </div><!-- /.contact-row -->
                    <!-- ============================================================= TÌM KIẾM============================================================= -->
                    <div class="search-area">
                        <form action="tim-kiem" method="get">
                            <div class="control-group">
                                <input type="text" id="txtKeyword" name="keyword" placeholder="Nhập từ khóa tìm kiếm" class="search-field" />
                                <input class="search-button le-button" type="submit" value="Tìm kiếm" />

                            </div>
                        </form>
                    </div><!-- /.search-area -->
                    <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                </div><!-- /.top-search-holder -->

                <div class="col-xs-12 col-md-3 top-cart-row no-margin">
                    <div class="top-cart-row-container">
                        <div class="wishlist-compare-holder">
                            <div class="wishlist ">
                                <a href="#"><i class="fa fa-heart"></i> Yêu Thích <span class="value">(4)</span> </a>
                            </div>
                            <div class="compare">
                                <a href="#"><i class="fa fa-exchange"></i> So Sánh <span class="value">(2)</span> </a>
                            </div>
                        </div>

                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
                        @{Html.RenderAction("HeaderCart", "Home");}
                    </div><!-- /.top-cart-row-container -->
                    <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
                </div><!-- /.top-cart-row -->

            </div><!-- /.container -->
            <!-- ========================================= NAVIGATION ========================================= -->
            <!-- /.megamenu-vertical -->
            @{Html.RenderAction("MainMenu", "Home");}
            <!-- ========================================= NAVIGATION : END ========================================= -->

        </header>
        @RenderBody();
        <!-- ========================================= RECENTLY VIEWED : END ========================================= -->      <!-- ============================================================= FOOTER ============================================================= -->
        <section>
            <p id="back-top">
                <a href="#"><i class="fa fa-angle-up"></i></a>
            </p>
        </section>

        @{Html.RenderAction("Footer", "Home");}

        <!-- ============================================================= FOOTER : END ============================================================= -->
    </div><!-- /.wrapper -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/assets/Client/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/Client/js/jquery-migrate-1.2.1.js"></script>
    <script src="/assets/Client/js/bootstrap.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="/assets/Client/js/gmap3.min.js"></script>
    <script src="/assets/Client/js/bootstrap-hover-dropdown.min.js"></script>
    <link href="/assets/Client/css/jquery-ui.css" rel="stylesheet" />    <!--Mới thêm-->
    <script src="/assets/Client/js/owl.carousel.min.js"></script>
    <script src="/assets/Client/js/css_browser_selector.min.js"></script>
    <script src="/assets/Client/js/echo.min.js"></script>
    <script src="/assets/Client/js/jquery.easing-1.3.min.js"></script>
    <script src="/assets/Client/js/jquery-ui.js"></script>    <!--Mới thêm-->
    <script src="/assets/Client/js/bootstrap-slider.min.js"></script>
    <script src="/assets/Client/js/jquery.raty.min.js"></script>
    <script src="/assets/Client/js/jquery.prettyPhoto.min.js"></script>
    <script src="/assets/Client/js/jquery.customSelect.min.js"></script>
    <script src="/assets/Client/js/wow.min.js"></script>
    <script src="/assets/Client/js/scripts.js"></script>

    <!-- For demo purposes – can be removed on production -->

    <script src="/assets/switchstylesheet/switchstylesheet.js"></script>

    <script>
        $(document).ready(function () {
            $(".changecolor").switchstylesheet({ seperator: "color" });
            $('.show-theme-options').click(function () {
                $(this).parent().toggleClass('open');
                return false;
            });
        });

        $(window).bind("load", function () {
            $('.show-theme-options').delay(2000).trigger('click');
        });

        $('.plus-quanlity').click(function () {
            var form = $(this).closest('form');
            var text = $(form).find('input[type=text]');
            $(text[0]).val(parseInt($(text[0]).val()) + 1);
            return false;
        });

        $('.minus-quanlity').click(function () {
            var form = $(this).closest('form');
            var text = $(form).find('input[type=text]');
            if (parseInt($(text[0]).val()) > 1) {
                $(text[0]).val(parseInt($(text[0]).val()) - 1);
            }
            return false;
        });

    </script>
    <!-- For demo purposes – can be removed on production : End -->

    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script src="/assets/Client/js/controller/baseController.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>