
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="about-us">
    <div class="container inner-top-xs inner-bottom-sm">

        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8 col-sm-6">

                <section id="who-we-are" class="section m-t-0">
                    <h2>Giới thiệu</h2>
                    <p>Được thành lập từ năm 1996, chúng tôi là một trong những nhà phân phối ĐTDĐ đầu tiên tại Hà Nội và kể từ năm 2000, chúng tôi chính thức trở thành nhà phân phối ĐTDĐ SamSung – Masterdealer duy nhất tại 194 đường Lê Duẩn.</p>
                    <p>
                        Với bề dày gần 10 năm kinh nghiệm và uy tín đã tạo được trong những năm vừa qua, chúng tôi luôn đem lại cho khách hàng sự hài lòng và thỏa mãn với tất cả các sản phẩm của mình.
                        Bên cạnh đó là đội ngũ nhân viên nhiệt tình chu đáo và đầy kinh nghiệm của chúng tôi luôn đưa được ra cho khách hàng những thông tin có giá trị và giúp khách hàng lựa chọn được những sản phẩm phù hợp nhất.
                        Để nâng cao thương hiệu của mình, mục tiêu của chúng tôi trong thời gian tới là cung cấp đến tận tay khách hàng những sản phẩm chính hãng với chất lượng đảm bảo và uy tín cũng như giá cả hợp lý nhất.
                        Chúng tôi mong muốn sự đóng góp của khách hàng sẽ giúp chúng tôi ngày một phát triển để từ đó củng cố thêm lòng tin của khách hàng với chúng tôi. Chúng tôi rất biết ơn sự tin tưởng của khách hàng trong suốt gần 10 năm qua và chúng tôi luôn tâm niệm rằng cần phải cố gắng hơn nữa để xứng đáng với phương châm đề ra “Nếu những gì chúng tôi không có, nghĩa là bạn không cần” .
                        Chúng tôi xin chân thành cảm ơn tất cả các khách hàng đã, đang và sẽ ủng hộ chúng tôi.
                    </p>
                </section><!-- /#giới thiệu -->

            </div><!-- /.col -->
            <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6">

                <section id="our-team">
                    <h2 class="sr-only">Our team</h2>
                    <ul class="team-members list-unstyled">

                        <li class="team-member">
                            <img src="~/assets/Client/images/sangpt001.jpg" alt="" class="profile-pic img-responsive"/>
                            <div class="profile">
                                <h3>Phạm Tấn Sang <small class="designation">CEO/Founder</small></h3>
                                <ul class="social list-unstyled">
                                    <li>
                                        <a href="http://facebook.com/">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://twitter.com/">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://linkedin.com/">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- /.profile -->
                        </li><!-- /.team-member -->

                    </ul><!-- /.team-members -->
                </section><!-- #our-team -->

            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.container -->

    <section id="what-can-we-do-for-you" class="row light-bg inner-sm">

        <div class="container">
            <div class="row">
                <div class="col-md-3 section m-t-0">
                    <h2>What can we do for you ?</h2>
                </div><!-- /.section -->

                <div class="col-md-9">
                    <ul class="services list-unstyled row m-t-35">
                        <li class="col-md-4">
                            <div class="service">
                                <div class="service-icon primary-bg"><i class="fa fa-truck"></i></div>
                                <h3>Fast Delivery</h3>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="service">
                                <div class="service-icon primary-bg"><i class="fa fa-life-saver"></i></div>
                                <h3>Support 24/7</h3>
                            </div>
                        </li>
                        <li class="col-md-4">
                            <div class="service">
                                <div class="service-icon primary-bg"><i class="fa fa-star"></i></div>
                                <h3>Best Quality</h3>
                            </div>
                        </li>
                    </ul><!-- /.services -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

    </section><!-- /#what-can-we-do-for-you -->
</main><!-- /#about-us -->
